html {
  background: rgb(63, 63, 63);
}
body {
  max-width: 375px;
  margin: auto;
  background: rgb(255, 255, 255);
}

img {
  display: block;
  max-width: 100%;
}

.box-title {
  height: 480px;
  background-image: url(../img/photo-jambes-skateur.svg);
  background-size: cover;
}

.cta-container {
  display: flex;
  flex-direction: column;
}

.cta {
  color: black;
  font-family: 'Vina Sans', cursive;
  text-decoration: none;
}

.cta-green {
  background-color: #5eff00;
  padding: 10px 15px 10px 15px;
  font-size: 35px;
}

.cta-pink {
  background-color: #ff0089;
  padding: 10px 15px 10px 15px;
  font-size: 35px;
}

.cta-black {
  background-color: #000;
  color: #fff;
  padding: 10px 15px 10px 15px;
  font-size: 35px;
}

h1 {
  margin: 0;
}

h2 {
  font-family: 'Vina Sans', cursive;
  font-size: 34px;
  padding: 0px 15px 0px 15px;
}

p {
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  font-family: 'Yantramanav', sans-serif;
}