html {
  background-image: url(../img/fond-site-graffiti.jpg);
  scroll-behavior: smooth;
  background-size: cover;
  background-attachment: fixed;
}
body {
  max-width: 375px;
  margin: auto;
  background: #fffcec;
  font-size: 18px;
  font-family: 'Yantramanav', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.box-title {
  height: 480px;
  background-image: url(../img/photo-jambes-skateur.svg);
  background-size: cover;
}

.cta-container {
  display: flex;
  flex-direction: column;
}

.cta {
  color: black;
  text-decoration: none;
  font-size: 40px;
}

.cta,
h2,
h3,
.planning-hours,
.restaurant-name {
  font-family: 'Vina Sans', cursive;
}

p,
.cta {
  padding: 10px 15px 10px 15px;
}

.cta-green,
.container-planning {
  background-color: #5eff00;
}

.cta-pink,
.container-restaurant{
  background-color: #ff0089;
}

.cta-black {
  background-color: #000;
  color: #fffcec;
}

.cta-green,
.cta-pink,
.cta-black {
  transition: background-color 0.1s;
}

.cta-pink:active {
  background-color: #ffa6d5;
}

.cta-green:active {
  background-color: #b6ff8c;
}

.cta-black:active {
  background-color: rgb(61, 61, 61);
}

h1 {
  margin: 0;
}

h2 {
  font-size: 50px;
  margin-top: 30px;
}

h3 {
  font-size: 40px;
  color: #5eff00;
  margin-top: 10px;
  -webkit-text-stroke: 1px #000;
}

h2,
h3 {
  padding: 0px 15px 0px 15px;
  margin-bottom: 0;
  font-weight: 400;
}

.ariswald-portrait {
  margin-bottom: 20px;
}

.planning-hours,
.restaurant-name {
  font-size: 40px;
  margin: 0;
  padding-bottom: 0;
}

.activities,
.restaurant-description {
  margin: 0;
  padding-top: 0;
}

.container-carousel-text {
  overflow: hidden;
  background-color: #000;
}

.carousel-text {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  animation: carousel-text linear 15s infinite;
}

.carousel-text img {
  max-width: none; 
  height: 65px;
}

@keyframes carousel-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-785px);
  }
}

.title-restaurant-pink {
  color: #ff0089;
}

.container-restaurant {
  margin: 0 15px 15px 15px;
}

a {
  color: #fffcec;
  text-decoration: none;
}

footer {
  background: #000;
  color: #fffcec;
  padding: 5px 0 5px 0;
}