html {
  background: #3f3f3f;
  scroll-behavior: smooth;
}
body {
  max-width: 375px;
  margin: auto;
  background: #fffcec;
  font-size: 17px;
  font-family: 'Yantramanav', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.box-title {
  height: 480px;
  background-image: url(../img/photo-jambes-skateur.svg);
  background-size: cover;
}

.cta-container {
  display: flex;
  flex-direction: column;
}

.cta {
  color: black;
  font-family: 'Vina Sans', cursive;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  font-size: 50px;
}

.cta-green {
  background-color: #5eff00;
}

.cta-pink {
  background-color: #ff0089;
}

.cta-black {
  background-color: #000;
  color: #fffcec;
}

h1 {
  margin: 0;
}

h2 {
  font-family: 'Vina Sans', cursive;
  font-size: 60px;
  padding: 0px 15px 0px 15px;
  margin-bottom: 0;
}

p {
  padding: 10px 15px 10px 15px;
}

.container-planning {
  background: #5eff00;
}

.planning-hours {
  font-size: 50px;
  margin: 0;
  font-family: 'Vina Sans', cursive;
}

.activities {
  font-size: 21px;
  margin: 0;
}

.container-carousel-text {
  overflow: hidden;
  background-color: #000;
}

.carousel-text {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  animation: carousel-text linear 15s infinite;
}

.carousel-text img {
  max-width: none; 
  height: 65px;
}

@keyframes carousel-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-785px);
  }
}

footer {
  background: #000;
  color: #fffcec;
}